<footer class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Copyright &copy; Your Website 2014</a></li>
                </ul>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>